{% extends 'base.html.twig' %}

{% block title %}VideoSDK Example!{% endblock %}

{% block body %}
<div class="content">
    <h1>VideoSDK example ✅</h1>

    <ul>
        <li><code><a href="/prebuiltSDK/create">Prebuilt SDK</a></code></li>
        <li><code><a href="/customSDK/create">Custom SDK</a></code></li>
    </ul>
</div>
{% endblock %}
