* {
    margin: 0;
    padding: 0;
}

.content {
    width: 75%;
    margin: auto;
    text-align: center;
}

.content code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}

#joinMeetingInput button,
#closeMeetingInput button{
    margin-top: 20px;
    background-color: #2D8CFF;
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

#joinMeetingInput button:disabled,
#closeMeetingInput button:disabled {
    background-color: darkgray;
}

#joinMeetingInput div {
    margin: auto;
    padding-top: 5px;
}

#joinMeetingInput div label {
    width: 200px;
    padding: 5px;
}

#joinMeetingInput div input {
    width: 200px;
    padding: 5px;
}


#videosdk-frame {
    visibility: hidden;
}

#video-style {
    width: 700px;
    height: 500px;
    margin: auto;
    padding-top: 1em;
    position: static;
}